<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head  th:replace="admin/admin_fragment :: admin_head(~{::title})">
    <title>博客管理-发布</title>
<body>

    <!--导航栏,ui表示ui组件,inverted颜色反转-->
    <nav th:replace="admin/admin_fragment :: admin_menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    </nav>
    <br>
    <br>
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-massive">
        <div class="ui container m-padded-tb">
            <div class="ui success  message">
                <h3>Hi</h3>
                <p>欢迎登陆</p>
            </div>
        </div>

    </div>
    <br>
    <br>
    <!--底部栏,attached\vertical-->
    <footer th:replace="admin/admin_fragment :: admin_footer" ></footer>
    <th:block th:replace="admin/admin_fragment :: admin_script"></th:block>
    <script>
        var contentEditor;
        $(function() {
            contentEditor = editormd("md-content", {
                width: "100%",
                height: 640,
                syncScrolling: "single",
                path: "../../static/lib/editormd/lib/"
            });
        });
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
        //验证表单
        $('.ui.form').form({
            fields: {
                title: {
                    identifer: 'title',
                    rules: [{
                        type: 'empty',
                        prompt: '标题：请输入博客标题'
                    }]
                }
            }
        });
    </script>
</body>

</html>