<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>欢迎</title>
</head>
<body>
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <!--导航菜单-->
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">欢迎访问本网站！</h2>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="m-container-small m-padded-tb-massive">
        <div class="ui container">
            <div class="fields">
                <div class="field">
                    <div class="ui success message m-padded-tb-huge">
                        <h3 class="ui header">
                            <a href="#" th:href="@{/1}" class="m-black">
                                点击访问康宁的博客！</a>
                        </h3>
                        <br>
                        <br>
                        <br>
                        <h3 class="ui header">
                            <a href="#" th:href="@{/2}" class="m-black">
                                点击访问宋云的博客！</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>